html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  padding: 50px 0;
}
body .container {
  float: none;
}
.tabs ul {
  overflow: auto;
  padding: 0;
}
.tabs ul li {
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  list-style: none;
  padding: 10px;
}
.tabs ul li.active {
  border: 1px solid #cccccc;
  border-bottom: white;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane .table thead tr th {
  cursor: default;
}
.tab-pane .table tbody tr td label {
  cursor: pointer;
  font-weight: normal;
}
.tab-pane .table tbody tr td label input {
  cursor: pointer;
  margin-right: 15px;
  vertical-align: top;
}
.tab-pane .table tbody tr td i {
  margin-right: 15px;
  color: #999;
  cursor: pointer;
}
.tab-pane .table tbody tr td i:first-child {
  margin-right: 3px;
}
.tab-pane .table tbody tr td i:last-child {
  float: right;
}
.selected .table tbody tr td label {
  cursor: default;
}
.selected .table tbody tr:first-child td i.move-up {
  opacity: 0.3;
}
.selected .table tbody tr:last-child td i.move-down {
  opacity: 0.3;
}
