body {
  padding: 50px 0;
}
.table tbody tr td label {
  font-weight: normal;
}
.table tbody tr td label input {
  margin-right: 15px;
  vertical-align: top;
}
.table tbody tr td i {
  margin-right: 15px;
  color: #999;
}
.table tbody tr td i:first-child {
  margin-right: 3px;
}
.table.selected tbody tr:first-child td i.move-up {
  opacity: 0.3;
}
.table.selected tbody tr:last-child td i.move-down {
  opacity: 0.3;
}
